@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: white;
  min-width: 320px;
}

ul,
li {
  list-style: none;
  display: none;
}

li {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.wrapper {
  margin: 1rem;
}

.main {
  margin-top: 1.25rem;
  z-index: 0;
}

.collapsed {
  max-height: 75dvh;
  overflow: hidden;
}

.main.collapsed {
  position: relative;
}

.main.collapsed::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px; /* высота затенения */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 90%);
  pointer-events: none;
  z-index: 1;
}

#search-form {
  display: flex;
  align-items: center;
}

.city-name {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 1.5rem;
}

.search-group {
  width: 100%;
  display: flex;
}

.search-wrapper {
  position: relative;
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  font-size: 1rem;
  font-weight: 500;
}

#suggestions {
  position: absolute;
  /* height: 100px; */
  width: 100%;
  top: 100%;
  height: auto;
  overflow-y: scroll;
  max-height: 80dvh;
  border: 1px solid gray;
  background-color: white;
  border-top: none;
  display: none;
  z-index: 5;
}

.search-input:focus {
  outline: none;
  border-color: black;
}

.search-btn {
  border-style: solid;
  border-color: gray;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0;
  border-width: 1px;
  border-left: none;
  font-size: 1rem;
  cursor: pointer;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border: 4px solid #ddd;
  border-top: 4px solid #3498db; /* синий акцент */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 2;
}

.show-all-btn {
  display: none;
  margin: 0 auto;
  border-style: solid;
  border-color: gray;
  text-transform: capitalize;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 0;
  border-width: 1px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.show-all-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.weather-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: 600;
  background-color: rgba(211, 211, 211, 0.25);
  border: 1px solid lightblue;
}

.date {
  text-transform: capitalize;
  font-size: 0.85rem;
}

.temp {
  font-size: 1rem;
}

.desc-group {
  display: flex;
  justify-content: space-between;
}

.desc {
  font-size: 1rem;
  text-transform: capitalize;
}

.desc-icon {
  font-size: 1rem;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.show {
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 425px) {
  .search-form {
    flex-direction: column-reverse;
    gap: 0.75rem 0;
  }

  .collapsed {
    max-height: 75dvh;
    overflow: hidden;
  }

  .weather-cards {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  .weather-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background: rgba(173, 216, 230, 0.25);
    font-weight: 600;
  }
}
